body {
  padding: 30px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

h2 {
	margin:0 0 .5em 0;
}

a {
  color: #00B7FF;
}

#wrapper {
	padding-left:25px;
	position:relative;
}

#paramList {
	margin:0 0 30px 0;
}
	#paramList table {
		border-collapse:separate;
		border-spacing:1px;
		background:#CCC;
	}
		#paramList table th {
			background:#0770c0;
			font-weight:600;
			padding:10px 20px;
			text-align:center;
		}
		#paramList table tbody {
			padding:0; margin:0;
			border-collapse:collapse;
			border-spacing:0px;
		}
			#paramList table td {
				background:#FFF;
				padding:5px 10px;
				text-align:left;
			}

#userInfo {
	width:250px;
	position:absolute;
	top:0; left:0;
}
	#userInfo p {
		padding:15px;
		border:1px solid #CCC;
		background:rgba(80,120,255,0.05);
	}

fieldset {
	border:0;
	padding:0; margin:0;
}

