extends layout

block content

	// Wrapper
	#wrapper

		// MAC INFO
		#macinfo
			h2 Mac Info
			p
				strong Mac Address:
				|	<span id='macaddress'></span>
		// /MAC INFO

		// PARAM LIST
		h2 Cliq Mini Information
		#paramList
			table
				thead
					th Parameter
					th Value
				tbody
		// /PARAM LIST
		strong Results:
		|	<span id='console'></span>

	// /WRAPPTER
	button(id="savebtn" onClick=('savedata()')) Save
